@charset "utf-8";
/* CSS Document */

* {	margin:0px;
	padding:0px; }
	
a img {
	border:0; }

.hide,
#ss_select {
	display:none; }

body {
	font-size:12px;
	font-family:Helvetica, Arial, sans-serif;
	color:#666; }
h1 {
	font-size:2em;
	padding:.3em .3em .8em; }

h2 {
	font-size:1.5em;
	font-weight:normal; }


#titleBar {
	width:100%;
	background:url(img/titleRepeat.jpg) top left repeat-x; }

.title {
	width:800px;
	height:110px;
	margin:0px auto;
	background:url(img/fsuLogo.png) left 10px no-repeat; }

#container {
	width:700px;
	margin:20px auto 30px; }

#ss_img_div {
	width:500px;
	overflow:hidden; }

option.white { background:#ffffff; }
option.black { background:#000000; }
option.garnet { background:#540115; }
option.golden { background:#efe8bb; }

fieldset {
	padding:10px 10px 10px 75px;
	border:1px solid #ccc;
	border-bottom:none;
	position:relative; }

fieldset:last-child {
	border-bottom:1px solid #ccc; }

fieldset .steps {
	position:absolute;
	left:-35px;
	top:10px; }

form fieldset span {
	width:180px;
	padding:10px;
	display:inline-block;
	text-align:right; }

form fieldset input {
	padding:3px;
	display:inline-block;
	color:#666; }

form fieldset input#preview {
	padding:20px;
	font-size:3em; }

.canvas {
	overflow:hidden; }

#resetbtn,
#convertpngbtn {
	padding:3px; }

#convertpngbtn {
	display:none;
}
